@import "eternal.css";
@import "reset.css";
@import "fonts.css";
@import "main.css";
@import "footer.css";

.container {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}
html {
    font-size: 16px;
}
.container2 {
    max-width: 1368px;
    padding: 0 15px;
    margin: 0 auto;
}
.container3 {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    display: flex;
    padding: 27px 0 25px;
}
.header__logo {
    padding-right: 23px;
    padding-top: 7px;
}
.header__nav {
    padding-top: 15px;
}
.header__nav li {
    display: inline-block;    
    padding: 0 22px 0 28px;
    font: 400 0.933rem 'main';
}
.header__nav li a {
    color: black;
    transition: all ease-in-out 0.3s;
}
.header__nav li a:hover {
    color: #FF6336;
}
.header__button {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
.button__log {
    border: 1px solid #00000080;
    background-color: white;
    padding: 13px 35px;
    margin-left: 11px;
    font: 600 1.018rem 'main';
    transition: all ease-in-out 0.3s;
}
.button__log:hover {
    border: 1px solid #00000080;
    background-color: black;
    color: white;
}
.button__try {
    background-color: #FF6336;
    border: 1px solid #FF6336;
    color: white;
    padding: 13px 20px;
    margin-left: 10px;
    font: 600 1.018rem 'main';
    transition: all ease-in-out 0.3s;
}
.button__try:hover {
    background-color: white;
    border: 1px solid #FF6336;
    color: #FF6336;
}
.header__line {
    border-top: 1px solid #CCCCCC;
    padding-bottom: 129px;
}